{% extends 'base.html.twig' %}


{% block body %}

<main>
    <br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
            <br/>
            <form method = "post">

                <!-- Affiche un message erreur connexion impossible car admin verrouillé -->
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger" role="alert">
                    {{ message }}
                    </div>
                {% endfor %}
                {% if error %}
                    <div class = "alert alert-danger">Identifiant ou mot de passe incorrect</div>
                {% endif %}

                <h3 class="text-center">Authentification</h3>
                <br/>
                <!-- Login -->
                <input type="text" value="{{ last_username }}" id="login" class="form-control mb-4" name="_username" placeholder="Login" required autofocus>

                <!-- Password -->
                <input type="password" id="mdp" class="form-control mb-4" placeholder="Mot de passe" name="_password" required>


                <!-- Connexion sécurisée -->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}">

                <button class="btn btn-primary btn-rounded btn-block" type="submit">Se connecter</button> 
                <br/>
            </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>        
</main>

{% endblock %}
